.boxGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
   
}

@media (max-width: 1200px) { 
    .boxGrid{
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) { 
    .boxGrid{
    grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 550px) { 
    .boxGrid{
    grid-template-columns: 1fr;
    }
}


.boxGrid .box{
    border: solid 1px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    text-align: center;
    height:min-content;
    min-width: 250px;
    min-height: 160px;


}
.boxGrid .box textarea{
    height:2ch;
    max-width: 60%;

}
.boxGrid div h1{
    margin: 0px;
}
.boxGrid div form{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.boxGrid div form div{
    display:flex;
    flex-direction: row;
}
.boxGrid div form button{
    width: 50%;
    margin:0px;
    border: 0px;
    border-top: 1px solid;
    border-right: 1px solid;
    
    border-radius: 0 0 0 15px;
}

.boxGrid div form button:last-child{
    width: 50%;
    border-right: 0px;
    border-left: 1px solid;
    border-radius: 0 0 15px 0;
}