.Userboard{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding-top: 30px;
    padding-bottom: 30px;
    
    margin-bottom: 15px;
    flex-wrap: wrap;
    background-color: #F7F7FC;
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04); 
}
.Userboard div{
    max-width: 80%;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    padding: 5px;
}
@media (max-width: 500px) { 
    .Userboard{
        flex-direction: column;
        align-items: center;
    }
}

.addButton{
    background-color: white;
    min-width:120px;
    border-radius: 15px;
    padding: 5px;
    width:10%;
    
    margin-top:15px;
    font-size:normal;
    
}
.addButton:hover{
background-color:  #624AF2;
;
   transform: scale(1.01)
}
.boxGrid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
   
}

@media (max-width: 1200px) { 
    .boxGrid{
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) { 
    .boxGrid{
    grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 550px) { 
    .boxGrid{
    grid-template-columns: 1fr;
    }
}

/* input[type="number"]{
    
    
    border-radius: 15px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 5px 5px rgb(172 172 172);
} */

.boxGrid .box{
    background-color:white;
    border: solid 0.5px lightgray; 
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px auto;
    width:90%;
    text-align: center;
    height:min-content;
    min-width: 250px;
    min-height: 240px;
    max-height: 250px;
    max-width: 350px;
    /* box-shadow: 0px 5px 5px rgb(172, 172, 172) ; */


}
/* .boxGrid .box textarea{
    height:1.5ch;
    border-top: none;
        resize: none;
    border-left: none;
    border-right: none;
    background-color:transparent;
    max-width: 60%;

} */
.boxGrid div p{
    
    display: flex;
    justify-content:center;
    align-items:center;
    
    font-size: larger;
    margin: 0px;
    text-decoration: none;
}

.boxGrid div p a{
    text-decoration: none;
    color:black;
    
    flex-shrink: 1;
    max-height:100px;
    max-width:100px;
    text-align: center;
    margin:10px;

}
.boxGrid div p a img{
  
    width: 100%;
    height: 100%;
    
    
}
/*
.submitButton{
    display:inline;
    background-color: white;
    border-radius: 15px 0px 0px 15px;
   
    padding: 5px;
    width:50%;
    margin-top:15px;
    font-size:normal;
    box-shadow: 0px 5px 5px rgb(172, 172, 172) ;
    border: 1px solid black;

}
.submitButton:last-child{
    border-radius: 0px 15px 15px 0px;
}

.submitButton:hover{
    background-color: #624AF2;
    
    transform: scale(1.05);
    padding: 5px;
    border: 1px solid black;
    margin-top:15px;
    box-shadow: none;
}
.submitButton:last-child:hover{
    background-color: #EB0055;
}
*/

.boxGrid div form{
    max-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
.boxGrid div form div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.boxGrid div form div input{
    text-align: center;
    
}
.roleSelect{
    width:50%;
    text-align: center;
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    margin-bottom: 12px;
}
.roleSelect select{
    min-width: 75px;
}
.boxGrid div form button{
    width: 50%;
    margin:0px;
    border: 0px;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    
    border-radius: 0 0 0 33px;
}
.boxGrid div form button:hover{
   background-color:  #624AF2;
   ;
   transform: scale(1.01)
}

.boxGrid div form button:last-child{
    width: 50%;
    border-right: 0px;
    border-left: 1px solid lightgray;
    border-radius: 0 0 33px 0;
}
.boxGrid div form button:last-child:hover{
    background-color: #EB0055;
}
.addButton i{
    
    left:-4px;
}